<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="<%= color %>">
        <title><%= username %></title>
    </head>
    <body>
        <div id="container">
            <img src="/images/avatar.png">
            <div id="text_container">
                <h3>Home of <%= username %></h3>
                <p>A fully-featured Discord bot to send hentai posts from many different sites</p>
                <a href="<%= invite_link %>" target="_blank"><button type="button">Invite to Server</button></a>
            </div>
        </div>
    </body>
</html>