{
    "token": "my-bot-token",
    "prefix": "<",
    "owner_id": "my-owner-id",
    "port": 80,
    "cache_dir": "./caches",
    "exit_on_uncaught_error": true,
    "color": "#000000",
    "server_url": "https://my-domain.ddns.net",
    "enable_server": false
}